
SECRET_KEY=django-insecure-ngcnz=d3fy5@oig$m&ry^#54)f)^n@^^6pb%s%augy^d1-su2k
TOKEN_EXPIRE_TIME=20
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=django_practice
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=E}8qeS++c1-3
DATABASE_HOST=localhost
DATABASE_PORT=8001
jwt_ACCESS_TOKEN_LIFETIME_MINUTES=20
jwt_REFRESH_TOKEN_LIFETIME_DAYS=1
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=192.168.3.127  # Use the container name if running in Docker
EMAIL_PORT=5025  # Matches the SMTP port in your docker-compose file
EMAIL_USE_TLS=False  # No TLS/SSL needed for smtp4dev
EMAIL_USE_SSL=True
# EMAIL_HOST_USER=  # No authentication required
# EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=dev@dev.com  # Change as needed
